.calendar-container {
  font-family: Arial, sans-serif;
  margin: 50px auto;
  border-radius: 5px;
}

.calendar-header {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #de3c4b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  h2 {
    color: white;
  }

  button {
    font-size: 8px;
  }
}
.calendar-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.weekdays {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.weekday {
  flex: 1;
  text-align: center;
}

.days {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  background-color: white;
}

.week {
  display: flex;
  flex-direction: row;
  height: calc((100% - 30px) / 6);
  margin-bottom: 5px;
}
.outside-month {
  color: #d1d1d1;
}

.day-cell {
  text-align: right !important;
  border-right: 1px solid #ededed;
  cursor: pointer;
}

.day-row {
  border: 1px solid #ededed;
}

.today {
  color: red;
}

.reminder::before {
  content: "\a";
  white-space: pre;
}

.reminder {
  color: white;
  border-radius: 100px;
  padding: 2px;
  font-size: 8px;
  line-height: 8px;
  display: flex;

  &-text {
    font-weight: bolder;
    &-smaller {
      font-size: 6px;
    }
  }

  &-city {
    font-size: 5px;
    position:relative;
    top: 6px;
    left: 15px;
  }

  @media(max-width: 700px) {
    height: 10px;
  }
}


.btn-switch-calendar {
  background-color: transparent;
  border: transparent;
  color: #ed848e;
}

h2 span.material-icons {
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
  color: #ed848e;
}
