<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jobsity challenge</span>
  <span class="spacer"></span>
  <button mat-button (click)="openReminderForm()">
    <mat-icon>add</mat-icon> New reminder
  </button>
</mat-toolbar>

<!-- Create the calendar here -->
<!-- ======================== -->

<div class="container pb-5">
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="row d-flex justify-content-center text-center pt-3">
        <div class="col-md-2">
          <h2>
            <span class="material-icons" (click)="prevMonth()">
              chevron_left
            </span>
            {{ monthName }}
            <span class="material-icons" (click)="nextMonth()">
              chevron_right
            </span>
          </h2>
        </div>
        <div class="col-md-2">
          <h2>
            <span class="material-icons" (click)="prevYear()" ƒ>
              chevron_left
            </span>
            {{ year }}
            <span class="material-icons" (click)="nextYear()">
              chevron_right
            </span>
          </h2>
        </div>
      </div>
    </div>

    <div class="calendar-body">
      <div class="row weekdays">
        <div class="col weekday" *ngFor="let dayInWeek of daysInWeek">
          {{ dayInWeek }}
        </div>
      </div>
      <div class="days">
        <div class="row day-row" *ngFor="let week of weeks">
          <div
            class="col day-cell py-4"
            *ngFor="let day of week"
            [ngClass]="{
              'outside-month': day.outsideMonth
            }"
            (click)="selectDate(day)"
          >
            <span [ngClass]="{ today: day.number === today.getDate() }">{{
              day.number
            }}</span>
            <br />
            <span
              *ngFor="let reminder of day.reminders"
              [ngStyle]="{ 'background-color': reminder.color }"
              class="reminder"
              (click)="openReminderForm(reminder)"
            >
              <span class="reminder-text">{{ reminder.text }}</span>
              <span *ngIf="reminder.weather.weather">
                <img
                  src="http://openweathermap.org/img/w/{{
                    reminder.weather.weather[0].icon
                  }}.png"
                  height="20"
                  width="20"
                  [alt]="reminder.weather.weather[0].main"
              /></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
