<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jobsity challenge</span>
  <span class="spacer"></span>
  <button mat-button (click)="openReminderForm()">
    <mat-icon>add</mat-icon> New reminder
  </button>
</mat-toolbar>

<!-- Create the calendar here -->
<!-- ======================== -->

<div class="container">
  <div class="calendar-container">
    <div class="calendar-header">
      <button (click)="prevYear()">Prev Year</button>
      <button (click)="prevMonth()">Prev Month</button>
      <h2>{{ monthName }} {{ year }}</h2>
      <button (click)="nextMonth()">Next Month</button>
      <button (click)="nextYear()">Next Year</button>
    </div>

    <div class="calendar-body">
      <div class="row weekdays">
        <div class="col weekday" *ngFor="let dayInWeek of daysInWeek">
          {{ dayInWeek }}
        </div>
      </div>
      <div class="days">
        <div class="row day-row" *ngFor="let week of weeks">
          <div
            class="col day-cell py-4"
            *ngFor="let day of week"
            [ngClass]="{
              'outside-month': day.outsideMonth
            }"
            (click)="selectDate(day)"
          >
            <span [ngClass]="{ today: day.number === today.getDate() }">{{
              day.number
            }}</span>
            <br />
            <span
              *ngFor="let reminder of day.reminders"
              [ngStyle]="{ 'background-color': reminder.color }"
              class="reminder"
              (click)="openReminderForm(reminder)"
            >
              {{ reminder.text }}
              <span *ngIf="reminder.weather.weather">
                - {{ reminder.weather.name }}:
                {{ reminder.weather.weather[0].main }}</span
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
