span.remainder-remaining {
  position: relative;
  top: -16px;
  font-size: 10px;
}

.chip-content {
  width: 9px;
}

.chip-content span.material-icons {
  color: white;
  font-size: 15px;
}
.pointer {
  cursor: pointer;
}

.close-button {
  text-align: right;
}

.btn-delete {
  color: #de3c4b;
}
