<div class="container">
  <div class="row">
    <div class="col-12 close-button pointer">
      <span class="material-icons" (click)="close()"> close </span>
    </div>
    <div class="col-12">
      <h1>Add Reminder</h1>
    </div>
  </div>
  <form [formGroup]="reminderForm" class="row">
    <mat-form-field class="col-12">
      <mat-label>Remainder:</mat-label>
      <input
        matInput
        type="text"
        id="text"
        maxlength="30"
        formControlName="text"
      />
      <mat-error
        *ngIf="
          reminderForm.controls['text'].invalid &&
          (reminderForm.controls['text'].dirty ||
            reminderForm.controls['text'].touched)
        "
      >
        <span *ngIf="reminderForm.controls['text'].errors.required"
          >Reminder is required.</span
        >
        <span *ngIf="reminderForm.controls['text'].errors.maxlength"
          >Reminder cannot be longer than 30 characters.</span
        >
      </mat-error>
      <mat-hint class="remainder-remaining">
        {{
          reminderForm.get("text").value
            ? reminderForm.get("text").value.length
            : 0
        }}/30
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date:</mat-label>
      <input
        matInput
        type="date"
        id="dateTime"
        formControlName="dateTime"
        [(ngModel)]="dateTime"
      />
      <mat-error
        *ngIf="
          reminderForm.controls['dateTime'].invalid &&
          (reminderForm.controls['dateTime'].dirty ||
            reminderForm.controls['dateTime'].touched)
        "
      >
        <span *ngIf="reminderForm.controls['dateTime'].errors.required"
          >Date is required.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Time:</mat-label>
      <input
        matInput
        type="time"
        id="time"
        formControlName="time"
        [(ngModel)]="time"
      />
      <mat-error
        *ngIf="
          reminderForm.controls['time'].invalid &&
          (reminderForm.controls['time'].dirty ||
            reminderForm.controls['time'].touched)
        "
      >
        <span *ngIf="reminderForm.controls['time'].errors.required"
          >Time is required.</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select id="city" formControlName="city">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>

      <mat-error
        *ngIf="
          reminderForm.controls['city'].invalid &&
          (reminderForm.controls['city'].dirty ||
            reminderForm.controls['city'].touched)
        "
      >
        <span *ngIf="reminderForm.controls['city'].errors.required"
          >City is required.</span
        >
      </mat-error>
    </mat-form-field>

    <div class="col-12 mb-3">
      <label class="mb-1">Escolha uma cor</label>
      <mat-chip-list #chipList formControlName="color">
        <mat-chip
          *ngFor="let color of colors"
          class="pointer"
          [ngStyle]="{ 'background-color': color }"
          [selectable]="true"
          [removable]="true"
          (click)="chooseColor(color)"
        >
          <span
            class="chip-content"
          >
            <span class="material-icons" *ngIf="reminderForm.get('color').value === color"> done </span>
          </span>
        </mat-chip>
      </mat-chip-list>

      <mat-error
        *ngIf="
          reminderForm.controls['color'].invalid &&
          (reminderForm.controls['color'].dirty ||
            reminderForm.controls['color'].touched)
        "
      >
        <span *ngIf="reminderForm.controls['color'].errors.required"
          >Color is required.</span
        >
      </mat-error>
    </div>

    <div class="col-6">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-delete"
        (click)="remove()"
        *ngIf="submitStatus.action === 'edit'"
      >
        <span class="material-icons"> delete_outline </span>
      </button>
    </div>
    <div class="col-6">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-primary w-100"
        type="submit"
        (click)="onSubmit()"
        [disabled]="reminderForm.invalid"
      >
        {{ submitStatus.text }}
      </button>
    </div>
  </form>
</div>
